---
openapi: 3.0.1
info:
  title: Todo API V1
  version: v1
paths:
  "/api/v1/todos":
    get:
      summary: Todo一覧を取得する
      tags:
      - Todos
      responses:
        '200':
          description: Todo一覧
          content:
            application/json:
              schema:
                type: array
                items:
                  "$ref": "#/components/schemas/Todo"
    post:
      summary: Todoを作成する
      tags:
      - Todos
      parameters: []
      responses:
        '201':
          description: 作成成功
        '422':
          description: バリデーションエラー
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/Errors"
      requestBody:
        content:
          application/json:
            schema:
              "$ref": "#/components/schemas/TodoInput"
  "/api/v1/todos/{id}":
    parameters:
    - name: id
      in: path
      description: Todo ID
      required: true
      schema:
        type: integer
    patch:
      summary: Todoを更新する
      tags:
      - Todos
      parameters: []
      responses:
        '200':
          description: 更新成功
        '422':
          description: バリデーションエラー
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/Errors"
        '404':
          description: Not Found
      requestBody:
        content:
          application/json:
            schema:
              "$ref": "#/components/schemas/TodoInput"
    delete:
      summary: Todoを削除する
      tags:
      - Todos
      responses:
        '204':
          description: 削除成功
servers:
- url: http://localhost:3000
  description: Development server
components:
  schemas:
    Todo:
      type: object
      properties:
        id:
          type: integer
        text:
          type: string
        completed:
          type: boolean
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
      required:
      - id
      - text
      - completed
      - created_at
      - updated_at
    TodoInput:
      type: object
      properties:
        todo:
          type: object
          properties:
            text:
              type: string
            completed:
              type: boolean
      required:
      - todo
    Errors:
      type: object
      properties:
        errors:
          type: object
      required:
      - errors
